/* 소개 페이지 */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.intro-content {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
    &>h1 {
        font-size: 40px;
        color: #00b7ff;
    }

    & .intro {
        width: 1200px;
        height: 300px;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 30px;
        border: 1px solid #333;

        & img {
            width: 200px;
            height: 200px;
            border-radius: 20px;
        }

        & .text {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        & h3 {
            font-size: 25px;
            color: #00b7ff;
        }

        & p {
            font-size: 18px;
        }
    }
}
