* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

img {
    object-fit: cover;
}

.body-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* ν—¤λ” */

.body-container > header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
    background-color: #ffffffee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);

    & nav {
        display: flex;

        .sub {
            overflow: hidden;
            height: 0;
            position: absolute;
            transition: .3s;

            & a:hover {
                background-color: #c2f6ff;
            }
        }

        &>ul:hover .sub {
            height: 200px;
        }

        &>ul:hover>li>a {
            background-color: #7bebff;
        }

        & a {
            display: block;
            width: 150px;
            border: 1px solid #eee;
            height: 50px;
            text-align: center;
            line-height: 50px;
            background-color: white;
        }
    }
}


/* ν‘Έν„° */

.body-container > footer {
    width: 100%;
    height: 300px;
    background-color: #c2f6ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 0 80px;

    & .ft-top {
        display: flex;
        color: #333;

        &>div {
            width: 50%;
        }
    }

    & .ft-left {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & a {
            color: #333;
        }
    }

    & .ft-bottom {
        color: #333;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & .sns {
        display: flex;
        gap: 10px;

        & i:nth-child(1):hover {
            color: rgb(255, 62, 62);
        }
        & i:nth-child(2):hover {
            color: rgb(0, 132, 255);
        }
        & i:nth-child(3):hover {
            color: rgb(238, 19, 19);
        }
        & i:nth-child(4):hover {
            color: rgb(180, 41, 214);
        }
        & i:nth-child(5):hover {
            color: rgb(22, 56, 207);
        }
    }
}