.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    border: 1px solid #333;
    padding: 20px;
    transition: .3s;

    & .img-cover {
        width: 250px;
        border-radius: 10px;
        height: 250px;
        overflow: hidden;
    }

    & .img-cover:hover img {
        scale: 1.1;
    }

    & img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        transition: .3s;
    }

    & .item-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & .item-name {
        font-size: 20px;
        text-align: center;
    }

    & .item-price {
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        color: #333;
        gap: 30px;

        & .price {
            font-weight: 500;
        }
        & .dis {
            color: #333;
        }
        
    }

    & .btns {
        display: flex;
        gap: 10px;

        & a {
            margin-top: 10px;
            font-size: 14px;
            border: 1px solid #333;
            border-radius: 10px;
            padding: 10px;

            &:nth-child(1) {
                background-color: #00b7ff;
                color: white;
            }
        }
    }
    & .count > div {
        white-space: nowrap;
    }
}

