/* 소개 페이지 */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.intro-content {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
    &>h1 {
        font-size: 40px;
        color: #00b7ff;
    }

    & .intro {
        width: 1200px;
        height: 300px;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 30px;
        border: 1px solid #333;

        & img {
            width: 200px;
            height: 200px;
            border-radius: 20px;
        }

        & .text {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        & h3 {
            font-size: 25px;
            color: #00b7ff;
        }

        & p {
            font-size: 18px;
        }
    }
}

/* 모토 */

.mottos {
    display: flex;
    gap: 10px;

    & > div {
        width: 250px;
        height: 700px;
        overflow: hidden;
        position: relative;
        transition: .3s;
    }
    & .motto01 {
        background: url(../images/motto/motto01.jpg) 0 0;
        background-size: cover;
    }
    & .motto02 {
        background: url(../images/motto/motto02.jpg) -250px 0;
        background-size: cover;
    }
    & .motto03 {
        background: url(../images/motto/motto03.jpg) -500px 0;
        background-size: cover;
    }
    & .motto04 {
        background: url(../images/motto/motto04.jpg) -750px 0;
        background-size: cover;
    }
    & .motto05 {
        background: url(../images/motto/motto05.jpg) -1000px 0;
        background-size: cover;
    }

    & .mottoName {
        position: absolute;
        bottom: 0;
        margin: 20px;
        background-color: white;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 20px;
        border: 3px solid #00b7ff;

    }

    & .des-container {
        & > div {
            opacity: 0;
            position: absolute;
            margin: 20px;
            background: white;
            padding: 10px;
            text-align: center;
            border: 5px solid #00b7ff;
            border-radius: 20px;
            width: 200px;
        }
    }
}